<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.radioshuttle.mqttpushclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_radioshuttle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_radioshuttle_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditAccountActivity" />

        <service android:name="de.radioshuttle.fcm.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="de.radioshuttle.fcm.Notifications">
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>

        <activity android:name=".TopicsActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".ActionsActivity"></activity>
    </application>

</manifest>